<% provide(:title, "Carrito | SmartBuy") %>
<%= render 'layouts/sidebar'%>
<div class='wrapper'>
  <p class="page-title">Items en el carrito</p>
  <p id="notice"><%= notice %></p>
  <div class ="center">
  <%@carts = Cart.all%>

  <table>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  <% @carts.each do |cart| %>
  <% if cart.user_id == current_user.id %>
  <% @articulo = Articulo.find(cart.articulo_id) %>
  <tr>
    <td><%=link_to@articulo.name, @articulo %></td>
      <td><%= cart.cantidad %></td>
      <td><%= @articulo.precio %></td>
      <% end %>
  <% end %>
</ul>
</div>
</div>
