<% provide(:title, "Carrito | SmartBuy") %>
<%= render 'layouts/sidebar'%>
<div class='center'>
<p id="notice"><%= notice %></p>

  <%@carts = Cart.all%>
  <h4>Items en el carrito</h4>
  <div class='center'>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  <% @carts.each do |cart| %>
  <% if cart.user_id == current_user.id %>
  <% @articulo = Articulo.find(cart.articulo_id) %>
  <tr>
    <td><%=link_to@articulo.name, @articulo %></td>
      <td><%= cart.cantidad %></td>
      <td><%= @articulo.precio %></td>
      <% end %>
  <% end %>
</ul>
</div>
</div>
