<% provide(:title, "Home | SmartBuy") %>
<div class="sidebar">
<ul>
<li><%= link_to "Ropa Hombre", '# '%></li>
<li><%= link_to "Ropa Mujer", '# '%></li>
<li><%= link_to "Calzado", '# '%></li>
<li><%= link_to "Tecnologia", '# '%></li>
<li><%= link_to "Accesorios", '# '%></li>
<li><%= link_to "Outdoor", '# '%></li>
<li><%= link_to "Otros", '# '%></li>

</ul>
</div>

<div <div class='center'>
  <h3> Productos recientes: </h3>
  <%= render 'shared/articulos_index'%>
  <% if logged_in? %>

  <% else %>
    <h2>Welcome to SmartBuy</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
