
<% provide(:title, @user.name) %>
<%= render 'layouts/sidebar'%>
<perfil>
<% if logged_in?%>
<div class="wrapper">
  <div class="container">
    <div class="header">
      <h1><%= @user.name %><h1>
    <%if current_user.admin?%>
    <h2>Administrador</h2>
    <%else%>
    <h2>Usuario General</h2>
    <%end%>
   <%= image_tag @user.image.url, class: "profile"%>
</div>
<div class="content">
  <div class="social">
    <ul>
      <% if current_user.admin?%>
        <li><%= link_to "Publicar Articulo", add_articulo_path %></li>
      <% end %>
      <li><%= link_to "Ver Carro", carrito_path %></li>
      <li><a href="#">Historial</a></li>
    </ul>
  </div>
</div>
</div>
</div>
<% end %>
</perfil>
