<ejemplo1>
<div class='center'>
<ul class="catCardList">
<% if categoria == '' %>
<%@articulos = Articulo.all%>
<%  else  %>
<%@articulos = Articulo.where(categoria: categoria)%>
<% end %>

<%  if  @articulos == nil %>
<h2>No hay articulos que esa categoria!</h2>
<%  else %>
<% @articulos.each do |articulo| %>
<li class="catCardList">
<div class="catCard">
<a href="#"><img src="http://placehold.it/221x200" alt=""></a>
<div class="lowerCatCard">

<% if logged_in? %>
  <% if current_user.admin? %>
      <div id="navcontainer">
      <ul>
      <li ><%= link_to edit_articulo_path(articulo) do %><i  class="fa fa-pencil fa-2x" aria-hidden="true"></i><% end %></li>
      <li><%= link_to articulo, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash fa-2x" aria-hidden="true"></i><% end %></li>
      </ul>
      </div>
  <% end %>
<% end %>

<h3><%= articulo.name%></h3>
<div class="startingPrice">Precio: <span><%= articulo.precio%></span></div>
<p><%= articulo.descripcion%></p>

<%= link_to articulo do%>
<div id="catCardButton" class="button">View Product</div>
<% end %>


</div>
</div>
</li>


<% end %>
<% end %>
</ul>
</div>
</ejemplo1>
