<p id="notice"><%= notice %></p>

<ul class="articulos_inicio">
  <%@articulos = Articulo.all%>
  <% @articulos.each do |articulo| %>
    <li>
      <%= gravatar2_for articulo, size: 50 %>
      <%= link_to articulo.name, articulo %><br>
      Precio:<%= articulo.precio%><br>
      Unidades:<%= articulo.stock %><br>
      Descripcion: <%= articulo.descripcion %><br>

    </li><br>
  <% end %>
</ul>
<% if logged_in?%>
  <% if current_user.admin?%>
    <%= link_to 'Publicar articulo', add_articulo_path %>
    <% end %>
<% end %>
