<% if logged_in?%>
<% if current_user.admin?%>
<div class="wrapper">

<div class='basic-form'>
  <p class="page-title">Publicar Articulo</p>
  <%= form_for(@articulo) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= f.label "Nombre" %>
      <%= f.text_field :name %>
      <%= f.label :precio %>
      <%= f.number_field :precio %>
      <%= f.label :stock %>
      <%= f.number_field :stock %>
      <%= f.label :categoria %>
      <%= f.select :categoria, options_for_select(["tecnologia", "hombre", "mujer", "calzado", "deporte", "accesorios", "outdoor"])%>
      <%= f.label :descripcion %>
      <%= f.text_area :descripcion, placeholder: "Agrega una descripcion...", :rows=> 10, :cols=>50 %>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    <br><br>
    <%= f.submit "Crear", class: "btn btn-primary" %>
    <br><br>
  <% end %>
<% else %>
  <% controller.redirect_to root_path%>
<% end %>
<% else %>
  <% controller.redirect_to login_path%>
<% end %>
</div>
</div>
