<div class="wrapper">
<div class="carousel">
    <div class="carousel-inner">

        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <a href ='/hombre'>
            <img src="<%= asset_path( 'ropahombre.jpg' ) %>">
            </a>
        </div>

        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <a href ='/mujer'>
            <img src="<%= asset_path( 'ropamujer.jpg' ) %>" >
            </a>
        </div>

        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <a href ='/calzado'>
            <img src="<%= asset_path( 'calzado.jpg' ) %>" />
            </a>
        </div>

        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <a href ='/tecnologia'>
            <img src="<%= asset_path( 'tecnologia.jpg' ) %>" />
            </a>
        </div>

        <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <a href ='/accesorios'>
            <img src="<%= asset_path( 'accesorio.jpg' ) %>" />
            </a>
        </div>

        <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <a href ='/outdoor'>
            <img src="<%= asset_path( 'outdoor.jpg' ) %>" />
            </a>
        </div>





        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-1" class="carousel-control next control-6">›</label>

        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>

        <label for="carousel-3" class="carousel-control prev control-4">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>

        <label for="carousel-4" class="carousel-control prev control-5">‹</label>
        <label for="carousel-4" class="carousel-control next control-3">›</label>

        <label for="carousel-5" class="carousel-control prev control-6">‹</label>
        <label for="carousel-5" class="carousel-control next control-4">›</label>

        <label for="carousel-6" class="carousel-control prev control-1">‹</label>
        <label for="carousel-6" class="carousel-control next control-5">›</label>


        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-5" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-6" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>
</div>
