  <div class ="navbar">
    <div>
      <ul>
        <%= link_to "SMARTBUY" , root_path, id: 'logo' %>

        <% if logged_in? %>
          <li><%= link_to "Ver Carrito", carrito_path %></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"> Account </a>
            <div class="dropdown-content">
              <%= link_to "Profile", current_user %>
              <%= link_to "Log out", logout_path, method: :delete %>
            </div>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <% end %>
        <div class="search-bar">
          <%= form_tag(articulos_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Buscar articulo", :size=> 80 %>
          <%= submit_tag "Buscar" %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
