<div class="sidebar">
<ul>
<li><%= link_to "Ropa Hombre", '/hombre '%></li>
<li><%= link_to "Ropa Mujer", '/mujer '%></li>
<li><%= link_to "Calzado", '/calzado '%></li>
<li><%= link_to "Tecnologia", '/tecnologia '%></li>
<li><%= link_to "Accesorios", '/accesorios '%></li>
<li><%= link_to "Outdoor", 'outdoor '%></li>

</ul>
</div>
