<%= form_for(articulo) do |f| %>
  <% if articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% articulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
  </div>

  <div class="field">
    <p><%= f.label :user_id %>
    <%= f.number_field :user_id %></p>
  </div>

  <div class="field">
    <p><%= f.label :stock %>
    <%= f.number_field :stock %></p>
  </div>

  <div class="field">
    <p><%= f.label :precio %>
    <%= f.number_field :precio %></p>
  </div>

  <div class="field">
    <p><%= f.label :descripcion %>
    <%= f.text_area :descripcion %></p>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Cambios" %>
  </div>
<% end %>
