<ejemplo1>
<%= render 'layouts/sidebar'%>
  <div class="wrapper">
<div class='center'>
<ul class="catCardList">


<%  if  not @articulos.any? %>
<h2>No hay articulos que coincidan con la busqueda</h2>
<%  else %>
<h2>Resultados de la busqueda</h2>
<% @articulos.each do |articulo| %>
<li class="catCardList">
<div class="catCard">
<a href="#"><%= image_tag articulo.image.url %></a>
<div class="lowerCatCard">

<% if logged_in? %>
  <% if current_user.admin? %>
      <div id="navcontainer">
      <ul>
      <li ><%= link_to edit_articulo_path(articulo) do %><i  class="fa fa-pencil fa-2x" aria-hidden="true"></i><% end %></li>
      <li><%= link_to articulo, method: :delete, data: { confirm: 'Estas seguro?' } do %><i class="fa fa-trash fa-2x" aria-hidden="true"></i><% end %></li>
      </ul>
      </div>
  <% end %>
<% end %>

<h3><%= articulo.name%></h3>
<div class="startingPrice">Precio: <span><%= articulo.precio%></span></div>
<p><%= articulo.descripcion%></p>

<%= link_to articulo do%>
<div id="catCardButton" class="button">View Product</div>
<% end %>


</div>
</div>
</li>


<% end %>
<% end %>
</ul>
</div>
</div>
</ejemplo1>
