<p id="notice"><%= notice %></p>
<%= render 'layouts/sidebar'%>
<div class='center'>
  <h4>Todos los articulos</h4>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Stock Disponible</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.name %></td>
        <td><%= articulo.stock %></td>
        <td><%= articulo.precio %></td>
        <td><%= articulo.descripcion %></td>
        <td><%= link_to 'Ver', articulo %></td>
        <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in?%>
  <% if current_user.admin?%>
    <%= link_to 'Publicar Articulo Nuevo', new_articulo_path %>
  <% end %>
<% end %>
</div>
