<p id="notice"><%= notice %></p>
<%= render 'layouts/sidebar'%>
<div class="wrapper">
  <p class="page-title"><%= @articulo.name %></p>
<div class='center'>
  <p><strong>Stock:</strong><%= @articulo.stock %></p>
  <p><strong>Precio:</strong><%= @articulo.precio %></p>
  <p><strong>Descripcion:</strong><%= @articulo.descripcion %></p>
  <p>Publicado hace <%= time_ago_in_words(@articulo.created_at) %></p>
  <% if logged_in?%>
    <%= form_for @cart do |f| %>
      <%= flash[:danger] %>
      <p><%= f.label :cantidad%><%= f.number_field :cantidad , value: 1%>
      <%= f.submit 'Agregar al carro' %></p>
      <%= f.hidden_field :articulo_id, value: @articulo.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <% end %>
    <p><%= link_to "Ver Carro", carrito_path%>
    <% if current_user.admin?%>
      <%= link_to 'Editar Articulo', edit_articulo_path(@articulo) %></p>
    <% else %>
      </p>
    <% end %>
  <% end %>
</div>
</div>
