<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @articulo.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @articulo.user_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @articulo.stock %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @articulo.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @articulo.descripcion %>
</p>
<span class="timestamp">
  Publicado hace <%= time_ago_in_words(@articulo.created_at) %> .
</span>
<% if logged_in?%>
  <% if current_user.admin?%>
    <%= link_to 'Edit', edit_articulo_path(@articulo) %>
  <% end %>
<% end %>
