<%@nombre = @articulo.name%>
<% provide(:title, @nombre+" | SmartBuy") %>
<%= render 'layouts/sidebar'%>


<articulopage>
  <div class="wrapper">
    <div id="product_layout_1">
      <div class="top">
      <div class="product_images">
        <div class="product_image_1">
          <%= image_tag @articulo.image.url %>
        </div>
        </div>
        <div class="product_info">
          <h1><%= @articulo.name %></h1>
          <p>En Stock: <%=@articulo.stock%></p>
          <div class="price">
          <% if flash[:nueva_moneda]
                    mon = flash[:nueva_moneda];
                    por  = flash[:precio]
                    pre = ''
                else
                    mon = ''
                    pre = '$'
                    por = 1
           %>
           <% end %>
          <h2 class="sale_price"><%= pre%><%= (@articulo.precio*por).round(2) %> <%= mon%></h2><br><br>
          <%= render 'layouts/monedas'%>

          </div>
          <br>
          <div class="rating">
            <%= rating_for @articulo, "rating"%>
          </div>
          <div class="product_description">
          <p><%= @articulo.descripcion %> </p>
          </div>

         <div class="options">
          <div class="buying">
                   <% if logged_in?%>
                  <%= form_for @cart do |f| %>
                    <%= flash[:danger] %>
                    <div class="quantity">
                    <%= f.label :cantidad%><%= f.number_field :cantidad , value: 1%>
                    </div>
                    <div class="cart">
                    <%= f.hidden_field :articulo_id, value: @articulo.id %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.submit 'Agregar al carro'  %>
                    <% end %>
                    </div>
                    <div class="cart">
                    <button class="btn btn-2 btn-sep icon-cart"><%= link_to "Ver Carro", carrito_path%></button>
                   </div>
                   <div class="cart">
                   <% if current_user.admin?%>
                    <%= link_to 'Editar Articulo', edit_articulo_path(@articulo) %>
                   <% else %>
                   <% end %>
                   </div>
                   <% end %>
            </div>
            </div>
        </div>
        </div>
        <%@comentarios = Comentario.where(articulo_id:@articulo.id)%>
        <div class="bottom">

        <div class="reviews">
          <div class="head">
            <h2>Comentarios</h2>
          </div>
            <% if @comentarios.any?%>
            <% @comentarios.each do |comentario|%>
              <%@usuario = User.find_by(id: comentario.user_id) %>
            <div class="content">
              <span class="name"><%=@usuario.name%></span>
              <% if logged_in?%>
              <%if current_user.id == comentario.user_id || current_user.admin?%>
                <%= link_to comentario, method: :delete, data: { confirm: 'Borrar comentario?' }, :remote => true, :class=>"delete_comentario" do %><i class="fa fa-trash fa-2x" aria-hidden="true"></i><% end %>
              <% end %>
              <% end %>
              <p class="review_text"><%=comentario.content%></p>
            </div>
            <% end %>
            <%else%>
            <p>No hay comentarios para este articulo</p>
            <% end %>
          </div>
          </div>

          <%= render 'shared/add_comentario', articulo: @articulo.id%>

      </div>
   </div>
   </articulopage>
